/**************************
*
•⁠  ⁠WEB422 – Assignment 1
•⁠  ⁠I declare that this assignment is my own work in accordance with Seneca Academic Policy. 
•⁠  ⁠No part of this assignment has been copied manually or electronically from any other source
•⁠  ⁠(including web sites) or distributed to other students.
* 
•⁠  ⁠Name: Alejandro Student ID: 142655224 Date: 2024-05-28
*
**************************
**/
:root {
  --primary: #fb6d48;
  --secondary: #673f69;
  --text: #d74b76;
  --bg: #fff;
  --white: #fff;
  --black: #000;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.hero {
  background-color: var(--primary);
  height: 250px;
}

.error {
  font-size: 2em;
  color: var(--white);
  padding: 50px 100px;
  display: none;
}

.search-input {
  padding: 15px;
  border-radius: 30px 0 0 30px;
}

.search-button {
  border-radius: 0 30px 30px 0;
}

.search-button:hover {
  background-color: var(--white);
  color: var(--text);
  transition-property: background-color, color;
  transition-duration: 200ms;
}

.row {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(213, 106, 0, 0.7);
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.image {
  display: flex;
}

.image .weather-img {
  width: 200px;
}

.info {
  width: auto;
  font-size: 1.6em;
  color: var(--white);
}

.info-flex {
  display: flex;
  width: 100%;
  gap: 40px;
}

.info-group {
  display: flex;
  flex-direction: column;
}

.info-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1.6em;
  color: var(--white);
}

.info-title p {
  width: 100%;
}
.info-coords {
  text-align: center;
  width: 100%;
  padding: 20px 0 10px 0;
  border-top: 2px solid var(--secondary);
}

.city {
  font-size: 2em;
}

.flag {
  width: 50px;
  height: auto;
}

.weather-desc {
  font-weight: 600;
}

.coords {
  font-weight: 600;
}

#weathers {
  margin: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.6em;
}

.number {
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  background-color: var(--primary);
  text-align: center;
  color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.number:hover {
  background-color: var(--secondary);
  transition-property: background-color;
  transition-duration: 300ms;
}

.active {
  background-color: var(--secondary);
}

.metric-option {
  width: 70px;
  height: 70px;
  display: flex;
  margin-right: 150px;
}

.metric-option button {
  background-color: var(--primary);
  border-radius: 0;
  color: var(--white);
  font-size: 1.6em;
  padding: 10px;
}

.metric-option .default {
  background-color: var(--secondary);
  color: var(--white);
}

.metric-option button:nth-child(1) {
  border-radius: 30px 0 0 30px;
  width: 150px;
}
.metric-option button:nth-child(2) {
  border-radius: 0 30px 30px 0;
}
